    <div class="copyright">
      <p>
        &copy;<span class="copyright__year">
          {{ site.time | date_to_string | slice: -4,4 }}
        </span>
        <a
          class="link--white"
          href="https://shubhamcanmakecommit.github.io/portfolioPage/"
          >Shubham Shah</a
        >
        &#183;
        <a
          class="link--white"
          href="https://creativecommons.org/licenses/by-nc/4.0/"
          target="_blank"
          rel="noopener"
          >CC BY-NC 4.0</a
        >
      </p>
    </div>
