$body-background: #494f5c !default;
$fancy-font: Bungee !default;
$regular-font: Montserrat !default;

.body-background {
  background-color: $body-background;
}
.fancy-font {
  font-family: $fancy-font, sans-serif;
}
.regular-font {
  font-family: $regular-font, sans-serif;
}
