$slider-size: 2.5rem;

.fancy-slider {
  background-color: #494f5c;
  font-style: normal;
  display: block;
  position: relative;
  left: 50px;
  float: left;
  overflow: hidden;
  position: relative;
  height: $slider-size;
  width: $slider-size * 10;
  max-width: 100%;
  top: 0px;
  left: 0px;
}
.fancy-slider__text {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-size: $slider-size - 0.625rem;
  line-height: $slider-size;
  color: #c6cddb;
  font-family: "Bungee", cursive;
  position: relative;
  top: 0;
  left: 0;
  animation: move 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  text-align: center;
}

@keyframes move {
  0% {
    top: 0rem;
  }
  20% {
    top: $slider-size * -1;
  }
  40% {
    top: $slider-size * -2;
  }
  60% {
    top: $slider-size * -3;
  }
  80% {
    top: $slider-size * -4;
  }
  100% {
    top: 0rem;
  }
}
