/* utility fonts */
.text--white {
  color: #e8eef2;
}
.f-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #333333;
}
.f-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.02rem;
  color: #1b202b;
}
/*subtitle fonts which are gray and ususally used for extra information*/
.sf-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1rem;
  letter-spacing: 0.01rem;
  color: #748094;
}
.normal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01rem;
  color: #1b202b;
}
.emphasize {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  color: #1b202b;
  margin: 1rem 0rem;
}
.fancy-font {
  font-family: "Bungee", "sans-serif";
}
.color-grey{
  color: #c6cddb;
}
.size-1{
  font-size: 1rem;
}
.size-2{
  font-size: 2rem;
}