@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

//Default variables
@import "default";

//Code highlighter style
@import "highlight";

@import "font";
@import "card";
@import "modal";
@import "utility";
@import "link";
@import "navbar";
@import "fancy-slider";
@import "profile";
@import "post";
@import "search";

body {
  font-family: $regular-font, sans-serif;
  background-color: $body-background;
  margin: 0px;
}
.page__container {
  width: 100%;
  margin: 0 auto;
  max-width: 90vw;
  padding: 40px 40px;
}
#spotlight {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
  font-size: 1.5rem;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#container {
  display: flex;
  flex-direction: column;
}
.copyright {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  line-height: normal;
  opacity: 0.6;
}
.social-links {
  margin: 20px auto;
}
#home-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#home-title {
  margin: 0;
  text-align: center;
}
.video,
.summary,
h1 {
  text-align: center;
}
.summary > ul {
  list-style-type: none;
}
.Iam {
  position: relative;
  left: 50px;
}
#fancy-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  background-color: teal;
  width: 340px;
  height: 300px;
  text-align: center;
}
.close-cross {
  float: right;
}
.link-icon {
  width: 40px;
}

.pageTitle {
  background: url(/assets/img/background.jpg);
  background-size: cover;
  margin: 0px;
  padding: 10px;
  border-radius: 0px 0px 25% 25%;
  color: white;
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
