/*
Should use when a component is used at many places and differs in just one or two properties
*/
.flex {
  display: flex;
}
.flex-min-20 {
  flex: 0 1 20rem;
}
.wrap {
  flex-wrap: wrap;
}
.jc-center {
  justify-content: center;
}
.cover {
  flex: 1;
}
.noDecoration,
.noDecoration:visited,
.noDecoration:hover {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
