---
permalink: /
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <title>{{site.title}}</title>
</head>

<body id="page">
  <div id="container">
    <img src="{{site.data.profile.img | relative_url}}" alt="shubham" id="profile-photo" />
    <div id="spotlight">
      <div id="home-center">
        <h1 id="home-title">{{site.data.name}}</h1>
        <div id="fancy-slider-container">
          <div>I'm a</div>
          <div id="fancy-about-me">
            <b>
              <div id="stat-container">
                {%for adjective in site.data.profile.adjectives%}
                <div>{{adjective}}</div>
                {%endfor%}
              </div>
            </b>
          </div>
        </div>
        <div class="centered">
          {%for socialLink in site.data.profile.socialLinks%}
          <a href="{{socialLink.href}}" target="_blank" rel="noopener me" title="{{socialLink.title}}">
            <img src="{{socialLink.imgSrc | relative_url}}" class="link-icon" alt="Github logo" />
          </a>
          {%endfor%}
        </div>
        <div class="centered">
          <a href="./contributions.html">Contributions</a>
        </div>
        <div class="centered">
          <a href="./projects.html">Projects</a>
        </div>
      </div>
      <div id="home-footer">
        <p>
          &copy;<span id="year"> {{ site.time | date_to_string | slice: -4,4 }} </span><a
            href="https://shubhamcanmakecommit.github.io/portfolioPage/">Shubham Shah</a>
          &#183;
          <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener">CC BY-NC 4.0</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>